/* test for correct page styles link path, will be modified prior presentation
body {
    background-color: aqua;
}
*/

/* below for hello section bg/font overlay */
.hello {
    height: 80vh;
    background: url(images/hello-background-1.png) no-repeat center center fixed;
    background-size: cover;
    padding-top: 5em;
}
.display-1 {
    font-weight: bold;
    color: white;
}

/* global changes */
.body {
    background-color: #d4cdc9;
    font-family: 'Slabo 27px', serif;
    font-size: 115%;
}
.jobHobbyTitle {
    font-family: 'Roboto', sans-serif;
}

/* skill logos*/
.skillLogo {
    height: 100px;
    width: auto;
}

 /*work logos */
.workLogo {
    width: 65%;
    height: auto;
}
#nm-doit-logo {
    box-shadow: 5px 3px 3px red;
}
#dismas-logo {
    box-shadow: 5px 3px 3px cyan;
}
#trinity-logo {
    box-shadow: 5px 3px 3px green;
}
