/* test for correct page styles link path, will be modified prior presentation
body {
    background-color: aqua;
}
*/

.hello {
    height: 80vh;
    background: url(images/hello-background.png) no-repeat center center fixed;
    background-size: cover;
    padding-top: 5em;
}
.display-1 {
    font-weight: bold;
    color: white;
}

#nm-doit-logo {
    width: %;
    box-shadow: 5px 3px 3px red;
}
