/* test for correct page styles link path, will be modified prior presentation */
body {
    background-color: aqua;
}

/*

an attempt to text on pic - delete if text over bg works

.pic-under-text {
    z-index: 0;
}

.text-over-image {
    z-index: 1;
}

.hello {
    background-image: url("./images/hello-background.png");

}

*/

/*

Test

.textOver img {
    width: 100%;
}
.textOver {
    max-width: 100%;
    position: relative;
}
.textOver figcaption {
    position: absolute;
    top: 200px;
    left: 100px;
    color: white;
}
*/
.test {
    height: 60vh;
    background: url(images/hello-background.png) no-repeat center center fixed;
    background-size: cover;
}